@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is an ASP.NET Core 3.1 </a>. project testing DevOps CI/CD concept with .Net on Linus using GitHub and DockerHub.</p>
    <p>Learn about Next step will be Docker plus CI/CD.</p>
    <p>Learn about Final step will be K8s or K3s plus CI/CD.</p> 
    <p>Tested and deployed on Azure AppServices Docker.</p>     
</div>
