@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is an ASP.NET Core 3.1 project testing DevOps CI/CD concept with .Net on Linus using AppVeyor and Octopus</a>.</p>
</div>
